@*
    Referencia
*@
@{
    ViewData["Title"] = "Convertir";
    double Conversion = ViewBag.Fahrenheid;
    double n = (double)ViewBag.Convertir;

}
<h1>Convertir @n Fahrenheid a Celcius</h1>
<h2>Resultado = @Conversion</h2>