@*
    Referencia
*@
@{
    ViewData["Title"] = "Convertir";
    double fahrenheit = ViewBag.Fahrenheit;
    double celsius = ViewBag.Celsius;
}
<h1>Convertir @fahrenheit °F a Celsius</h1>
<h2>Resultado = @celsius °C</h2>