@{
    ViewData["Title"] = "Tabla";
    int n = (int)ViewBag.Numero;
    var filas = ViewBag.Filas as List<string>;
}

<h1>Tabla del @n</h1>

<ul>
    @foreach (var linea in filas)
    {
        <li>@linea</li>
    }
</ul>
